@font-face {
  font-family: 'angia-campton-bold';
  src: url('../fonts/fh-campton-bold-webfont.woff2') format('woff2'),
    url('../fonts/fh-campton-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'angia-campton-bold-italic';
  src: url('../fonts/fh-campton-bolditalic-webfont.woff2') format('woff2'),
    url('../fonts/fh-campton-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'angia-campton-book';
  src: url('../fonts/fh-campton-book-webfont.woff2') format('woff2'),
    url('../fonts/fh-campton-book-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'angia-campton-book-italic';
  src: url('../fonts/fh-campton-bookitalic-webfont.woff2') format('woff2'),
    url('../fonts/fh-campton-bookitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'angia-campton-extralight';
  src: url('../fonts/fh-campton-extralight-webfont.woff2') format('woff2'),
    url('../fonts/fh-campton-extralight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'angia-campton-extralight-italic';
  src: url('../fonts/fh-campton-extralightitalic-webfont.woff2') format('woff2'),
    url('../fonts/fh-campton-extralightitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'angia-campton-light';
  src: url('../fonts/fh-campton-light-webfont.woff2') format('woff2'),
    url('../fonts/fh-campton-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'angia-campton-light-italic';
  src: url('../fonts/fh-campton-lightitalic-webfont.woff2') format('woff2'),
    url('../fonts/fh-campton-lightitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'angia-campton-medium';
  src: url('../fonts/fh-campton-medium-webfont.woff2') format('woff2'),
    url('../fonts/fh-campton-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'angia-campton-medium-italic';
  src: url('../fonts/fh-campton-mediumitalic-webfont.woff2') format('woff2'),
    url('../fonts/fh-campton-mediumitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?44410998');
  src: url('../fonts/fontello.eot?44410998#iefix') format('embedded-opentype'),
    url('../fonts/fontello.woff?44410998') format('woff'),
    url('../fonts/fontello.ttf?44410998') format('truetype'),
    url('../fonts/fontello.svg?44410998#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
  font-size: 0;
  line-height: 0;

  &::before {
    font-family: 'fontello';
    font-style: normal;
    font-weight: normal;
    // speak: none;
    display: inline-block;
    text-decoration: inherit;
    // width: 1em;
    // margin-right: 0.2em;
    text-align: center;
    font-size: 15px;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    // margin-left: 0.2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }
}

.icon-minus {
  &::before {
    content: '\e800';
  }
} /* '' */
.icon-thumb {
  &::before {
    content: '\e801';
  }
} /* '' */
.icon-arrow-down-small {
  &::before {
    content: '\e802';
  }
} /* '' */
.icon-arrow-down {
  &::before {
    content: '\e803';
  }
} /* '' */
.icon-arrow-up {
  &::before {
    content: '\e804';
  }
} /* '' */
.icon-plus {
  &::before {
    content: '\e805';
  }
} /* '' */
.icon-attachment {
  &::before {
    content: '\e806';
  }
} /* '' */
.icon-chat {
  &::before {
    content: '\e807';
  }
} /* '' */
.icon-clock {
  &::before {
    content: '\e808';
  }
} /* '' */
.icon-fb {
  &::before {
    content: '\e809';
  }
} /* '' */
.icon-close {
  &::before {
    content: '\e80a';
  }
} /* '' */
.icon-go-to {
  &::before {
    content: '\e80b';
  }
} /* '' */
.icon-location {
  &::before {
    content: '\e80c';
  }
} /* '' */
.icon-mobile {
  &::before {
    content: '\e80d';
  }
} /* '' */
.icon-mouse {
  &::before {
    content: '\e80e';
  }
} /* '' */
.icon-phone {
  &::before {
    content: '\e80f';
  }
} /* '' */
.icon-quote-left {
  &::before {
    content: '\e810';
  }
} /* '' */
.icon-quote-right {
  &::before {
    content: '\e811';
  }
} /* '' */
.icon-search {
  &::before {
    content: '\e812';
  }
} /* '' */
.icon-slider-left {
  &::before {
    content: '\e813';
  }
} /* '' */
.icon-slider-right {
  &::before {
    content: '\e814';
  }
} /* '' */
.icon-star-fill {
  &::before {
    content: '\e815';
  }
} /* '' */
.icon-star {
  &::before {
    content: '\e816';
  }
} /* '' */
.icon-up {
  &::before {
    content: '\e817';
  }
} /* '' */
.icon-youtube {
  &::before {
    content: '\e818';
  }
} /* '' */
.icon-filter {
  &::before {
    content: '\e819';
  }
} /* '' */
.icon-camera {
  &::before {
    content: '\e81a';
  }
} /* '' */
.icon-land {
  &::before {
    content: '\e81b';
  }
} /* '' */
.icon-map {
  &::before {
    content: '\e81c';
  }
} /* '' */
.icon-pin {
  &::before {
    content: '\e81d';
  }
} /* '' */
.icon-play {
  &::before {
    content: '\e81e';
  }
} /* '' */
.icon-pool {
  &::before {
    content: '\e81f';
  }
} /* '' */
