*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font: 400 16px/23px 'angia-campton-book', sans-serif;
  margin: 0;
  padding: 0;
  color: $default;
}

input,
textarea {
  @include placeholder($placeholder);
}

.unhappy {
  @include placeholder($red);
}

table {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;

  tr {
    padding: 0;
    margin: 0;
  }

  th {
    font-style: normal;
    padding: 0;
    margin: 0;
  }

  td {
    padding: 0;
    margin: 0;
  }
}

address {
  font-style: normal;
}

blockquote {
  margin: 0;
  padding: 0;
}

input[type='text'],
input[type='tel'],
input[type='email'],
textarea {
  @include transition(0.3s);
  @include rounded(0);
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-bottom: 1px solid $light-grey;
  height: 33px;
  font-size: 14px;
  line-height: 33px;
  padding: 0;
  margin: 0;
  width: 100%;
  background: transparent;
  @include ff('angia-campton-extralight');
  color: $black;

  &.has-value {
    border-color: $black;
  }

  &.unhappy {
    border-color: $red;
  }
}

textarea {
  height: 77px;
  padding-top: 12px;
  line-height: 20px;
}

img {
  max-width: 100%;
  @include transition(0.3s);
  display: block;
}

svg {
  display: block;
}

a {
  text-decoration: none;
  color: $green;
  @include transition(0.3s);

  &:focus {
    outline: none;
  }

  &:hover {
    text-decoration: none;
    color: $orange;
  }
}

p,
li {
  margin: 0 0 20px 0;
  padding: 0;
  font-size: 16px;
  line-height: 23px;

  &.is-large {
    font-size: 20px;
    line-height: 32px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

label,
.tab-label {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

%clearfix {
  *zoom: 1;
  &:before,
  &:after {
    content: ' ';
    display: table;
  }
  &:after {
    clear: both;
  }
}

.clearfix {
  @extend %clearfix;
}

.row-fluid {
  *zoom: 1;

  &:before {
    content: '';
    display: table;
  }

  &:after {
    content: '';
    display: table;
    clear: both;
  }

  [class*='span-'] {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    &:first-child {
      margin-left: 0 !important;
    }
  }

  .no-gutter {
    margin-left: 0 !important;
  }

  .pull-right {
    float: right;
  }

  @for $i from 1 through 12 {
    .span-#{$i} {
      width: 100%;
    }
  }
  @include mq('tablet') {
    $default-gutter-px: 16;
    $default-screen-px: 768;
    $default-column-px: 49;
    $default-column-perc: $default-column-px / $default-screen-px;
    $default-gutter-perc: $default-gutter-px / $default-screen-px;
    $default-column-gutter-perc: $default-column-perc + $default-gutter-perc;
    @for $i from 1 through 12 {
      .span-#{$i} {
        width: percentage(
          $default-column-perc + ($default-column-gutter-perc * ($i - 1))
        );
      }
    }
    [class*='span'],
    [class*='span'].has-gutter {
      margin-left: percentage($default-gutter-perc);
    }
  }
  @include mq('desktop') {
    $default-gutter-px: 24;
    $default-screen-px: 1236;
    $default-column-px: 81;
    $default-column-perc: $default-column-px / $default-screen-px;
    $default-gutter-perc: $default-gutter-px / $default-screen-px;
    $default-column-gutter-perc: $default-column-perc + $default-gutter-perc;
    @for $i from 1 through 12 {
      .span-#{$i} {
        width: percentage(
          $default-column-perc + ($default-column-gutter-perc * ($i - 1))
        );
      }
    }
    [class*='span'],
    [class*='span'].has-gutter {
      margin-left: percentage($default-gutter-perc);
    }
  }
}

.mobile-hide {
  display: none !important;
}

@include mq('tablet') {
  .mobile-hide {
    display: inherit !important;
  }

  .tablet-hide {
    display: none !important;
  }
}
@include mq('desktop') {
  .mobile-hide {
    display: inherit !important;
  }

  .tablet-hide {
    display: inherit !important;
  }

  .desktop-hide {
    display: none !important;
  }
}

.s-section {
  padding-top: 40px;
  padding-bottom: 40px;
  @include mq('tablet') {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  @include mq('tablet-wide') {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .b-container {
    padding-left: 30px;
    padding-right: 30px;

    @include mq('tablet') {
      padding-left: 50px;
      padding-right: 50px;
    }

    @include mq('tablet-wide') {
      max-width: 1440px;
      padding-left: 20px;
      padding-right: 20px;
      margin: 0 auto;
    }
  }

  .b-head {
    margin-bottom: 30px;

    *:last-child {
      margin-bottom: 0;
    }
  }
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.sub-headline {
  font-weight: 200;
  margin: 0 0 20px 0;
  padding: 0;
  color: $heading;

  strong,
  &.is-bold {
    @include ff('angia-campton-bold');
  }

  a {
    color: $heading;

    &:hover {
      color: $green;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

h1 {
  @include ff('angia-campton-bold');
  font-size: 48px;
  line-height: 70px;
}

h2 {
  @include ff('angia-campton-medium');
  font-size: 30px;
  line-height: 43px;
}

h3 {
  @include ff('angia-campton-medium');
  font-size: 18px;
  line-height: 22px;
}

h4 {
  @include ff('angia-campton-medium');
  font-style: 20px;
  line-height: 29px;
}

h5 {
  @include ff('angia-campton-book');
  font-size: 16px;
  line-height: 23px;
}

h6 {
  @include ff('angia-campton-book');
  font-size: 15px;
  line-height: 22px;
}

.mini-heading {
  @include ff('angia-campton-medium');
  display: flex;
  font-size: 20px;
  line-height: 29px;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 30px;

  span {
    margin-right: 10px;
    text-align: left;
  }

  &::after {
    content: '';
    background-color: $light-grey;
    height: 1px;
    flex: 1;
    margin-bottom: 5px;
  }
}

button {
  &:focus {
    outline: none;
  }
}

.btn {
  @include transition(0.3s);
  @include rounded(0);
  display: inline-block;
  background-color: $green;
  padding: 14px 20px;
  font-size: 16px;
  line-height: 22px;
  color: $white;
  min-width: 210px;
  border: 0;
  letter-spacing: 2px;

  &:hover {
    text-decoration: none;
    background-color: $orange;
    color: $white;
  }

  &.is-black {
    background-color: $black;

    &:hover {
      background-color: $green;
    }
  }

  &.is-grey {
    background-color: $default;

    &:hover {
      background-color: $green;
    }
  }
}

@include mq('tablet') {
  h1 {
    font-size: 52px;
    line-height: 74px;
  }

  h2 {
    font-size: 34px;
    line-height: 48px;
  }

  h3 {
    font-size: 22px;
    line-height: 29px;
  }
}

@include mq('tablet-wide') {
  .mini-heading {
    span {
      margin-right: 20px;
    }
  }
}

@include mq('desktop') {
  h1 {
    font-size: 60px;
    line-height: 86px;

    &.is-small {
      font-style: 36px;
      line-height: 52px;
    }
  }

  h2 {
    font-size: 42px;
    line-height: 60px;

    &.is-ext-large {
      font-style: 60px;
      line-height: 86;
    }

    &.is-large {
      font-style: 50px;
      line-height: 72px;
    }

    &.is-small {
      font-style: 30px;
      line-height: 43px;
    }

    &.is-bold {
      @include ff('angia-campton-bold');
    }
  }

  h3 {
    font-style: 30px;
    line-height: 43px;
  }

  .btn {
    padding: 24px 110px;
    min-width: 0;
  }

  p,
  li {
    &.is-large {
      font-size: 16px;
      line-height: 26px;
    }

    &.is-small {
      font-size: 14px;
      line-height: 20px;
    }
  }

  input[type='text'],
  input[type='tel'],
  input[type='email'] {
    height: 57px;
    line-height: 57px;
  }

  textarea {
    height: 97px;
    padding-top: 18px;
  }

  .btn {
    padding-top: 19px;
    padding-bottom: 19px;
  }
}

// Zoommer
.marker {
  display: block;
}

.zoomHolder {
  img {
    display: block;
  }
}

.fullscreenToggle,
.zoomIn,
.zoomOut {
  background: url(/assets/img/pz-sheet.png) no-repeat;
  width: 40px;
  height: 40px;
  overflow: hidden;
  position: relative;
  display: block;
  cursor: pointer;
  z-index: 100;
  margin: 0;
}

.zoomIn {
  background-position: 0 0;
  margin-bottom: 20px;
}

.zoomOut {
  background-position: -50px 0;
}

.fullscreenToggle {
  display: none;
}

// sass-lint:disable class-name-format
.zoomIn,
.zoomOut {
  &.on {
    opacity: 1;
    -moz-opacity: 1;
    -khtml-opacity: 1;
    cursor: pointer;
  }
}

.zoomIn,
.zoomOut {
  &.off {
    opacity: 0.5;
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    cursor: auto;
  }
}

.control-holder {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 100;
}

.fullscreenDiv,
.marker {
  left: 0;
  top: 0;
}

.fullscreenToggle {
  &.on {
    background-position: -90px 0;
  }
}

.fullscreenToggle {
  &.off {
    background-position: -60px 0;
  }
}

.fullscreenDiv {
  width: auto !important;
  height: auto !important;
  right: 0 !important;
  bottom: 0 !important;
  position: absolute !important;
  z-index: 999999;
  overflow: hidden;
  touch-action: none;
}

.zoomHolder {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

.marker {
  position: absolute !important;
  bottom: auto !important;
  right: auto !important;
  cursor: pointer;
}

.zoomHolder {
  -webkit-tap-highlight-color: transparent;
}

.fullscreenDiv {
  * {
    touch-action: none;
  }
}
