$lightblue: lightblue;
$lightpink: lightpink;
$lightgoldenrodyellow: lightgoldenrodyellow;
$default: #333333;
$heading: #333333;
$green: #279e4e;
$green-05: rgba(39, 158, 78, 0.05);
$lime: #1ebb9a;
$blue: #083ec9;
$orange: #c67a0f;
$red: #b53e19;
$error: #ff0024;
$white: #fff;
$white-40: rgba(255, 255, 255, 0.4);
$white-50: rgba(255, 255, 255, 0.5);
$white-70: rgba(255, 255, 255, 0.7);
$white-95: rgba(255, 255, 255, 0.95);
$black: #000;
$black-35: rgba(0, 0, 0, 0.35);
$dark-grey: #222;
$dark-grey-80: rgba($dark-grey, 0.8);
$grey: #6d6d6d;
$file: #e6e6e6;
$light-grey: #d8d8d8;
$white-grey: #f9f9f9;
$border-grey: #eee;
$black-shadow: rgba(224, 224, 224, 0.5);
$placeholder: #959595;
$shadow: rgba(144, 144, 144, 0.5);
$shadow-20: rgba(144, 144, 144, 0.2);
$input: rgba(0, 0, 0, 0.5);
$input-grey: #f5f5f5;
$cubic-bezier-1: '0.19, 1, 0.22, 1';
$break-points: (
  'phone': 320px,
  'phone-wide': 375px,
  'tablet': 768px,
  'tablet-wide': 1024px,
  'desktop': 1280px,
  'desktop-wide': 1720px,
);
