.p-home {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  background-color: $lightblue;

  @include mq('tablet') {
    background-color: $lightpink;
  }

  @include mq('tablet-wide') {
    background-color: $lightgoldenrodyellow;
  }
}
