<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Nunjucks CC" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="assets/img/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="assets/img/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="assets/img/favicon-16x16.png"
    />
    <link rel="manifest" href="assets/img/site.webmanifest" />
    <link rel="mask-icon" href="assets/img/safari-pinned-tab.svg" />
    <title>{{ title }}</title>
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
    />
    <link
      rel="stylesheet"
      href="http://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css"
      media="screen"
    />
    <link href="assets/css/main.css" rel="stylesheet" media="all" />
  </head>

  <body id="body" class="body {{ bodyClass }}">
    <div id="app" class="app">
      {% block app %}{% endblock%}
    </div>
    <script src="assets/js/css-browser-selector.js"></script>
    <script>
      // Global Variables for news list page
      window.newsListPage = [
        {
          photo: 'assets/img/photo-news-1.jpg',
          date: '20.05.2019',
          title: 'Lễ chào bán căn hộ Winston 001',
          href: 'news-detail.html',
        },
        {
          photo: 'assets/img/photo-news-2.jpg',
          date: '19.05.2019',
          title: 'Sự kiện giới thiệu khu đô thị cao cấp CITY CAPPITAL',
          href: 'news-detail.html',
        },
        {
          photo: 'assets/img/photo-news-3.jpg',
          date: '18.05.2019',
          title: 'Khu dân cư mới Garden Hill',
          href: 'news-detail.html',
        },
        {
          photo: 'assets/img/photo-news-2.jpg',
          date: '17.05.2019',
          title: 'Lorem ipsum dolor sit amet consectetur adipisicing elit',
          href: 'news-detail.html',
        },
        {
          photo: 'assets/img/photo-news-3.jpg',
          date: '16.05.2019',
          title: 'Ad rem a obcaecati illum voluptatum',
          href: 'news-detail.html',
        },
        {
          photo: 'assets/img/photo-news-1.jpg',
          date: '15.05.2019',
          title: 'Corrupti dolor porro aut laboriosam culpa dolore',
          href: 'news-detail.html',
        },
        {
          photo: 'assets/img/photo-news-1.jpg',
          date: '20.05.2019',
          title: 'Lễ chào bán căn hộ Winston 007',
          href: 'news-detail.html',
        },
        {
          photo: 'assets/img/photo-news-2.jpg',
          date: '19.05.2019',
          title: 'Sự kiện giới thiệu khu đô thị cao cấp CITY CAPPITAL',
          href: 'news-detail.html',
        },
        {
          photo: 'assets/img/photo-news-3.jpg',
          date: '18.05.2019',
          title: 'Khu dân cư mới Garden Hill',
          href: 'news-detail.html',
        },
        {
          photo: 'assets/img/photo-news-2.jpg',
          date: '17.05.2019',
          title: 'Lorem ipsum dolor sit amet consectetur adipisicing elit',
          href: 'news-detail.html',
        },
        {
          photo: 'assets/img/photo-news-3.jpg',
          date: '16.05.2019',
          title: 'Ad rem a obcaecati illum voluptatum',
          href: 'news-detail.html',
        },
        {
          photo: 'assets/img/photo-news-1.jpg',
          date: '15.05.2019',
          title: 'Corrupti dolor porro aut laboriosam culpa dolore',
          href: 'news-detail.html',
        },
        {
          photo: 'assets/img/photo-news-1.jpg',
          date: '15.05.2019',
          title: 'Corrupti dolor porro aut 013',
          href: 'news-detail.html',
        },
        {
          photo: 'assets/img/photo-news-3.jpg',
          date: '18.05.2019',
          title: 'Khu dân cư mới Garden Hill',
          href: 'news-detail.html',
        },
        {
          photo: 'assets/img/photo-news-2.jpg',
          date: '17.05.2019',
          title: 'Lorem ipsum dolor sit amet consectetur adipisicing elit',
          href: 'news-detail.html',
        },
        {
          photo: 'assets/img/photo-news-3.jpg',
          date: '16.05.2019',
          title: 'Ad rem a obcaecati illum voluptatum',
          href: 'news-detail.html',
        },
        {
          photo: 'assets/img/photo-news-1.jpg',
          date: '15.05.2019',
          title: 'Corrupti dolor porro aut laboriosam culpa dolore',
          href: 'news-detail.html',
        },
        {
          photo: 'assets/img/photo-news-1.jpg',
          date: '15.05.2019',
          title: 'Lorem Ipsum 018',
          href: 'news-detail.html',
        },
        {
          photo: 'assets/img/photo-news-1.jpg',
          date: '15.05.2019',
          title: 'Corrupti dolor porro aut laboriosam culpa dolore',
          href: 'news-detail.html',
        },
        {
          photo: 'assets/img/photo-news-1.jpg',
          date: '15.05.2019',
          title: 'This is the last news',
          href: 'news-detail.html',
        },
      ];

      // Global Variables for projects list page
      window.projectsListPage = [
        {
          photos: [
            { src: 'assets/img/photo-project-1.jpg' },
            { src: 'assets/img/photo-project-4.jpg' },
            { src: 'assets/img/photo-project-3.jpg' },
          ],
          type: 'Nhà phố',
          typeClass: 'house',
          status: 'Đang xây dựng',
          statusClass: 'in-progress',
          name: 'KHU ĐÔ THỊ CAPITAL 001',
          href: 'project-detail.html',
          description:
            'Thiết kế căn hộ 3 phòng ngủ nhà phố hạng A của City Capital.',
        },
        {
          photos: [
            { src: 'assets/img/photo-project-2.jpg' },
            { src: 'assets/img/photo-project-6.jpg' },
            { src: 'assets/img/photo-project-3.jpg' },
          ],
          type: 'Đất nền',
          typeClass: 'ground',
          status: 'Đang xây dựng',
          statusClass: 'in-progress',
          name: 'BÁCH ĐẠT REVERSIDE',
          href: 'project-detail.html',
          description:
            'Bách Đạt Riverside nằm trong chiến lược phát triển kinh tế du lịch.',
        },
        {
          photos: [{ src: 'assets/img/photo-project-3.jpg' }],
          type: 'Bất động sản nghỉ dưỡng',
          typeClass: 'villa',
          status: 'Đang xây dựng',
          statusClass: 'in-progress',
          name: 'THE CHARM',
          href: 'project-detail.html',
          description: 'The Charm tạo nên một không gian nghỉ dưỡng đẳng cấp.',
        },
        {
          photos: [{ src: 'assets/img/photo-project-3.jpg' }],
          type: 'Căn hộ',
          typeClass: 'apartment',
          status: 'Đã hoàn thành',
          statusClass: 'completed',
          name: 'CĂN HỘ CHILLAM HILL',
          href: 'project-detail.html',
          description:
            'Chatham Hill Homes mang đến cho bạn sự trải nghiệm sống trọn vẹn.',
        },
        {
          photos: [
            { src: 'assets/img/photo-project-9.jpg' },
            { src: 'assets/img/photo-project-1.jpg' },
            { src: 'assets/img/photo-project-4.jpg' },
          ],
          type: 'Nhà phố',
          typeClass: 'house',
          status: 'Đang xây dựng',
          statusClass: 'in-progress',
          name: 'KHU ĐÔ THỊ MỚI CITY CAPITAL',
          href: 'project-detail.html',
          description:
            'Thiết kế căn hộ 3 phòng ngủ nhà phố hạng A của City Capital. Tạo nên một không gian nghỉ dưỡng đẳng cấp.',
        },
        {
          photos: [],
          type: 'Bất động sản nghỉ dưỡng',
          typeClass: 'villa',
          status: 'Đang xây dựng',
          statusClass: 'in-progress',
          name: 'THE CHARM 006',
          href: 'project-detail.html',
          description: 'The Charm tạo nên một không gian nghỉ dưỡng đẳng cấp.',
        },
        {
          photos: [{ src: 'assets/img/photo-project-1.jpg' }],
          type: 'Căn hộ',
          typeClass: 'apartment',
          status: 'Đã hoàn thành',
          statusClass: 'completed',
          name: 'CĂN HỘ CHILLAM HILL 007',
          href: 'project-detail.html',
          description:
            'Chatham Hill Homes mang đến cho bạn sự trải nghiệm sống trọn vẹn.',
        },
        {
          photos: [
            { src: 'assets/img/photo-project-3.jpg' },
            { src: 'assets/img/photo-project-1.jpg' },
            { src: 'assets/img/photo-project-2.jpg' },
          ],
          type: 'Nhà phố',
          typeClass: 'house',
          status: 'Đang xây dựng',
          statusClass: 'in-progress',
          name: 'KHU ĐÔ THỊ MỚI CITY CAPITAL',
          href: 'project-detail.html',
          description:
            'Thiết kế căn hộ 3 phòng ngủ nhà phố hạng A của City Capital.',
        },
        {
          photos: [
            { src: 'assets/img/photo-project-9.jpg' },
            { src: 'assets/img/photo-project-8.jpg' },
            { src: 'assets/img/photo-project-7.jpg' },
          ],
          type: 'Nhà phố',
          typeClass: 'house',
          status: 'Đang xây dựng',
          statusClass: 'in-progress',
          name: 'KHU ĐÔ THỊ MỚI CITY CAPITAL 009',
          href: 'project-detail.html',
          description:
            'Thiết kế căn hộ 3 phòng ngủ nhà phố hạng A của City Capital.',
        },
        {
          photos: [
            { src: 'assets/img/photo-project-4.jpg' },
            { src: 'assets/img/photo-project-7.jpg' },
            { src: 'assets/img/photo-project-8.jpg' },
          ],
          type: 'Nhà phố',
          typeClass: 'house',
          status: 'Đang xây dựng',
          statusClass: 'in-progress',
          name: 'KHU ĐÔ THỊ MỚI WONDERLAND',
          href: 'project-detail.html',
          description:
            'Thiết kế căn hộ 1000 phòng ngủ tiêu chí hạng A của Wonderland.',
        },
        {
          photos: [{ src: 'assets/img/photo-project-2.jpg' }],
          type: 'Bất động sản nghỉ dưỡng',
          typeClass: 'villa',
          status: 'Đang xây dựng',
          statusClass: 'in-progress',
          name: 'THE LAST PROJECT OF THIS LIST',
          href: 'project-detail.html',
          description: 'The Charm tạo nên một không gian nghỉ dưỡng đẳng cấp.',
        },
      ];
      window.jobsListPage = [
        {
          active: false,
          title: 'Nhân viên',
          heading: 'Chuyên viên Kinh doanh Bất động sản',
          sub: 'Thành phố Hồ Chí Minh',
          type: 'Fulltime',
          description:
            'Báo cáo cho Truởng phòng Kinh doanh. Chuyên viên Kinh Doanh có chịu trắc nhiệm chủ động tìm kiếm, tư vấn, mở rộng thị truờng, khai thác khách hàng tiềm năng và giới thiệu các sản phẩm Bất động sản của Công ty',
          needs: [
            {
              content:
                'Phát triển các mối quan hệ khách hàng và kênh khách hàng mới.',
            },
            {
              content:
                'Hiểu rõ, xử lý,những quy định xử lý nghiệp vụ khách hàng.',
            },
            {
              content: 'Nắm bắt kỹ năng bán hàng.',
            },
            {
              content: 'Giới thiệu khách hàng tham gia nhà mẫu.',
            },
          ],
          benefits: [
            {
              content: 'Thu nhập thoả thuận theo năng lực.',
            },
            {
              content: 'Môi trường làm việc năng động trẻ trung.',
            },
            {
              content: 'Chính sách phúc lợi đầy đủ.',
            },
            {
              content: 'Chăm sóc sức khoẻ.',
            },
            {
              content: 'Du lịch trong, ngoài nước.',
            },
            {
              content:
                'Được thưởng khi hoàn thành xuất sắc nhiệm vụ của công ty.',
            },
            {
              content: 'Thưởng các ngày lễ trong năm.',
            },
            {
              content: 'Thời gian làm việc 5 ngày/ tuần.',
            },
          ],
        },
        {
          active: false,
          title: 'Quản lý',
          heading: 'Quản lý Dự án',
          sub: 'Thành phố Hồ Chí Minh',
          type: 'Fulltime',
          description:
            'Báo cáo cho Truởng phòng Kinh doanh. Chuyên viên Kinh Doanh có chịu trắc nhiệm chủ động tìm kiếm, tư vấn, mở rộng thị truờng, khai thác khách hàng tiềm năng và giới thiệu các sản phẩm Bất động sản của Công ty',
          needs: [
            {
              content:
                'Phát triển các mối quan hệ khách hàng và kênh khách hàng mới.',
            },
            {
              content:
                'Hiểu rõ, xử lý,những quy định xử lý nghiệp vụ khách hàng.',
            },
            {
              content: 'Nắm bắt kỹ năng bán hàng.',
            },
            {
              content: 'Giới thiệu khách hàng tham gia nhà mẫu.',
            },
          ],
          benefits: [
            {
              content: 'Thu nhập thoả thuận theo năng lực.',
            },
            {
              content: 'Môi trường làm việc năng động trẻ trung.',
            },
            {
              content: 'Chính sách phúc lợi đầy đủ.',
            },
            {
              content: 'Chăm sóc sức khoẻ.',
            },
            {
              content: 'Du lịch trong, ngoài nước.',
            },
            {
              content:
                'Được thưởng khi hoàn thành xuất sắc nhiệm vụ của công ty.',
            },
            {
              content: 'Thưởng các ngày lễ trong năm.',
            },
            {
              content: 'Thời gian làm việc 5 ngày/ tuần.',
            },
          ],
        },
        {
          active: false,
          title: 'Nhân viên',
          heading: 'Chuyên viên Tư vấn',
          sub: 'Thành phố Hồ Chí Minh',
          type: 'Part-time',
          description:
            'Báo cáo cho Truởng phòng Kinh doanh. Chuyên viên Kinh Doanh có chịu trắc nhiệm chủ động tìm kiếm, tư vấn, mở rộng thị truờng, khai thác khách hàng tiềm năng và giới thiệu các sản phẩm Bất động sản của Công ty',
          needs: [
            {
              content:
                'Phát triển các mối quan hệ khách hàng và kênh khách hàng mới.',
            },
            {
              content:
                'Hiểu rõ, xử lý,những quy định xử lý nghiệp vụ khách hàng.',
            },
            {
              content: 'Nắm bắt kỹ năng bán hàng.',
            },
            {
              content: 'Giới thiệu khách hàng tham gia nhà mẫu.',
            },
          ],
          benefits: [
            {
              content: 'Thu nhập thoả thuận theo năng lực.',
            },
            {
              content: 'Môi trường làm việc năng động trẻ trung.',
            },
            {
              content: 'Chính sách phúc lợi đầy đủ.',
            },
            {
              content: 'Chăm sóc sức khoẻ.',
            },
            {
              content: 'Du lịch trong, ngoài nước.',
            },
            {
              content:
                'Được thưởng khi hoàn thành xuất sắc nhiệm vụ của công ty.',
            },
            {
              content: 'Thưởng các ngày lễ trong năm.',
            },
            {
              content: 'Thời gian làm việc 5 ngày/ tuần.',
            },
          ],
        },
        {
          active: false,
          title: 'Quản lý',
          heading: 'Quản lý Quán trà sữa',
          sub: 'Thành phố Hồ Chí Minh',
          type: 'Fulltime',
          description:
            'Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis possimus sit nisi ad amet voluptatum officiis, illo ullam consequuntur recusandae fugiat ratione iusto incidunt voluptas molestiae, enim modi. Accusamus, quis.',
          needs: [
            {
              content:
                'Phát triển các mối quan hệ khách hàng và kênh khách hàng mới.',
            },
            {
              content:
                'Hiểu rõ, xử lý,những quy định xử lý nghiệp vụ khách hàng.',
            },
            {
              content: 'Nắm bắt kỹ năng bán hàng.',
            },
            {
              content: 'Giới thiệu khách hàng tham gia nhà mẫu.',
            },
          ],
          benefits: [
            {
              content: 'Thu nhập thoả thuận theo năng lực.',
            },
            {
              content: 'Môi trường làm việc năng động trẻ trung.',
            },
            {
              content: 'Chính sách phúc lợi đầy đủ.',
            },
            {
              content: 'Chăm sóc sức khoẻ.',
            },
            {
              content: 'Du lịch trong, ngoài nước.',
            },
            {
              content:
                'Được thưởng khi hoàn thành xuất sắc nhiệm vụ của công ty.',
            },
            {
              content: 'Thưởng các ngày lễ trong năm.',
            },
            {
              content: 'Thời gian làm việc 5 ngày/ tuần.',
            },
          ],
        },
        {
          active: false,
          title: 'Nhân viên',
          heading: 'Chuyên viên Ăn vặt',
          sub: 'Thành phố Hồ Chí Minh',
          type: 'Fulltime',
          description:
            'Báo cáo cho Truởng phòng Kinh doanh. Chuyên viên Kinh Doanh có chịu trắc nhiệm chủ động tìm kiếm, tư vấn, mở rộng thị truờng, khai thác khách hàng tiềm năng và giới thiệu các sản phẩm Bất động sản của Công ty',
          needs: [
            {
              content:
                'Phát triển các mối quan hệ khách hàng và kênh khách hàng mới.',
            },
            {
              content:
                'Hiểu rõ, xử lý,những quy định xử lý nghiệp vụ khách hàng.',
            },
            {
              content: 'Nắm bắt kỹ năng bán hàng.',
            },
            {
              content: 'Giới thiệu khách hàng tham gia nhà mẫu.',
            },
          ],
          benefits: [
            {
              content: 'Thu nhập thoả thuận theo năng lực.',
            },
            {
              content: 'Môi trường làm việc năng động trẻ trung.',
            },
            {
              content: 'Chính sách phúc lợi đầy đủ.',
            },
            {
              content: 'Chăm sóc sức khoẻ.',
            },
            {
              content: 'Du lịch trong, ngoài nước.',
            },
            {
              content:
                'Được thưởng khi hoàn thành xuất sắc nhiệm vụ của công ty.',
            },
            {
              content: 'Thưởng các ngày lễ trong năm.',
            },
            {
              content: 'Thời gian làm việc 5 ngày/ tuần.',
            },
          ],
        },
        {
          active: false,
          title: 'Nhân viên',
          heading: 'Chuyên viên Kinh doanh Bất động sản',
          sub: 'Thành phố Hồ Chí Minh',
          type: 'Fulltime',
          description:
            'Báo cáo cho Truởng phòng Kinh doanh. Chuyên viên Kinh Doanh có chịu trắc nhiệm chủ động tìm kiếm, tư vấn, mở rộng thị truờng, khai thác khách hàng tiềm năng và giới thiệu các sản phẩm Bất động sản của Công ty',
          needs: [
            {
              content:
                'Phát triển các mối quan hệ khách hàng và kênh khách hàng mới.',
            },
            {
              content:
                'Hiểu rõ, xử lý,những quy định xử lý nghiệp vụ khách hàng.',
            },
            {
              content: 'Nắm bắt kỹ năng bán hàng.',
            },
            {
              content: 'Giới thiệu khách hàng tham gia nhà mẫu.',
            },
          ],
          benefits: [
            {
              content: 'Thu nhập thoả thuận theo năng lực.',
            },
            {
              content: 'Môi trường làm việc năng động trẻ trung.',
            },
            {
              content: 'Chính sách phúc lợi đầy đủ.',
            },
            {
              content: 'Chăm sóc sức khoẻ.',
            },
            {
              content: 'Du lịch trong, ngoài nước.',
            },
            {
              content:
                'Được thưởng khi hoàn thành xuất sắc nhiệm vụ của công ty.',
            },
            {
              content: 'Thưởng các ngày lễ trong năm.',
            },
            {
              content: 'Thời gian làm việc 5 ngày/ tuần.',
            },
          ],
        },
        {
          active: false,
          title: 'Quản lý',
          heading: 'Quản lý Dự án',
          sub: 'Thành phố Hồ Chí Minh',
          type: 'Fulltime',
          description:
            'Báo cáo cho Truởng phòng Kinh doanh. Chuyên viên Kinh Doanh có chịu trắc nhiệm chủ động tìm kiếm, tư vấn, mở rộng thị truờng, khai thác khách hàng tiềm năng và giới thiệu các sản phẩm Bất động sản của Công ty',
          needs: [
            {
              content:
                'Phát triển các mối quan hệ khách hàng và kênh khách hàng mới.',
            },
            {
              content:
                'Hiểu rõ, xử lý,những quy định xử lý nghiệp vụ khách hàng.',
            },
            {
              content: 'Nắm bắt kỹ năng bán hàng.',
            },
            {
              content: 'Giới thiệu khách hàng tham gia nhà mẫu.',
            },
          ],
          benefits: [
            {
              content: 'Thu nhập thoả thuận theo năng lực.',
            },
            {
              content: 'Môi trường làm việc năng động trẻ trung.',
            },
            {
              content: 'Chính sách phúc lợi đầy đủ.',
            },
            {
              content: 'Chăm sóc sức khoẻ.',
            },
            {
              content: 'Du lịch trong, ngoài nước.',
            },
            {
              content:
                'Được thưởng khi hoàn thành xuất sắc nhiệm vụ của công ty.',
            },
            {
              content: 'Thưởng các ngày lễ trong năm.',
            },
            {
              content: 'Thời gian làm việc 5 ngày/ tuần.',
            },
          ],
        },
        {
          active: false,
          title: 'Nhân viên',
          heading: 'Chuyên viên Tư vấn',
          sub: 'Thành phố Hồ Chí Minh',
          type: 'Part-time',
          description:
            'Báo cáo cho Truởng phòng Kinh doanh. Chuyên viên Kinh Doanh có chịu trắc nhiệm chủ động tìm kiếm, tư vấn, mở rộng thị truờng, khai thác khách hàng tiềm năng và giới thiệu các sản phẩm Bất động sản của Công ty',
          needs: [
            {
              content:
                'Phát triển các mối quan hệ khách hàng và kênh khách hàng mới.',
            },
            {
              content:
                'Hiểu rõ, xử lý,những quy định xử lý nghiệp vụ khách hàng.',
            },
            {
              content: 'Nắm bắt kỹ năng bán hàng.',
            },
            {
              content: 'Giới thiệu khách hàng tham gia nhà mẫu.',
            },
          ],
          benefits: [
            {
              content: 'Thu nhập thoả thuận theo năng lực.',
            },
            {
              content: 'Môi trường làm việc năng động trẻ trung.',
            },
            {
              content: 'Chính sách phúc lợi đầy đủ.',
            },
            {
              content: 'Chăm sóc sức khoẻ.',
            },
            {
              content: 'Du lịch trong, ngoài nước.',
            },
            {
              content:
                'Được thưởng khi hoàn thành xuất sắc nhiệm vụ của công ty.',
            },
            {
              content: 'Thưởng các ngày lễ trong năm.',
            },
            {
              content: 'Thời gian làm việc 5 ngày/ tuần.',
            },
          ],
        },
        {
          active: false,
          title: 'Quản lý',
          heading: 'Quản lý Quán trà sữa',
          sub: 'Thành phố Hồ Chí Minh',
          type: 'Fulltime',
          description:
            'Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis possimus sit nisi ad amet voluptatum officiis, illo ullam consequuntur recusandae fugiat ratione iusto incidunt voluptas molestiae, enim modi. Accusamus, quis.',
          needs: [
            {
              content:
                'Phát triển các mối quan hệ khách hàng và kênh khách hàng mới.',
            },
            {
              content:
                'Hiểu rõ, xử lý,những quy định xử lý nghiệp vụ khách hàng.',
            },
            {
              content: 'Nắm bắt kỹ năng bán hàng.',
            },
            {
              content: 'Giới thiệu khách hàng tham gia nhà mẫu.',
            },
          ],
          benefits: [
            {
              content: 'Thu nhập thoả thuận theo năng lực.',
            },
            {
              content: 'Môi trường làm việc năng động trẻ trung.',
            },
            {
              content: 'Chính sách phúc lợi đầy đủ.',
            },
            {
              content: 'Chăm sóc sức khoẻ.',
            },
            {
              content: 'Du lịch trong, ngoài nước.',
            },
            {
              content:
                'Được thưởng khi hoàn thành xuất sắc nhiệm vụ của công ty.',
            },
            {
              content: 'Thưởng các ngày lễ trong năm.',
            },
            {
              content: 'Thời gian làm việc 5 ngày/ tuần.',
            },
          ],
        },
        {
          active: false,
          title: 'Nhân viên',
          heading: 'Chuyên viên Ăn vặt',
          sub: 'Thành phố Hồ Chí Minh',
          type: 'Fulltime',
          description:
            'Báo cáo cho Truởng phòng Kinh doanh. Chuyên viên Kinh Doanh có chịu trắc nhiệm chủ động tìm kiếm, tư vấn, mở rộng thị truờng, khai thác khách hàng tiềm năng và giới thiệu các sản phẩm Bất động sản của Công ty',
          needs: [
            {
              content:
                'Phát triển các mối quan hệ khách hàng và kênh khách hàng mới.',
            },
            {
              content:
                'Hiểu rõ, xử lý,những quy định xử lý nghiệp vụ khách hàng.',
            },
            {
              content: 'Nắm bắt kỹ năng bán hàng.',
            },
            {
              content: 'Giới thiệu khách hàng tham gia nhà mẫu.',
            },
          ],
          benefits: [
            {
              content: 'Thu nhập thoả thuận theo năng lực.',
            },
            {
              content: 'Môi trường làm việc năng động trẻ trung.',
            },
            {
              content: 'Chính sách phúc lợi đầy đủ.',
            },
            {
              content: 'Chăm sóc sức khoẻ.',
            },
            {
              content: 'Du lịch trong, ngoài nước.',
            },
            {
              content:
                'Được thưởng khi hoàn thành xuất sắc nhiệm vụ của công ty.',
            },
            {
              content: 'Thưởng các ngày lễ trong năm.',
            },
            {
              content: 'Thời gian làm việc 5 ngày/ tuần.',
            },
          ],
        },
      ];
    </script>
    <!-- <script src="assets/js/jquery.js"></script> -->
    <!-- <script src="assets/js/tweenmax.js"></script> -->
    <!-- <script src="assets/js/hammer.js"></script> -->
    <script src="assets/js/main.js"></script>
    <!-- <script src="assets/js/zoomer.js"></script> -->
    <!-- <script src="assets/js/preview.js"></script> -->
  </body>
</html>
