// Body
.has-popup {
  overflow: hidden;
}

// App
.app {
  iframe {
    display: block;
  }

  .hidden {
    display: none;
  }

  .body-bg {
    @include background-two-color($white-grey, $white);
  }

  // Customized Select
  .select-hidden {
    display: none;
    visibility: hidden;
  }

  .select {
    cursor: pointer;
    position: relative;
  }

  .select-styled {
    @include transition(0.3s);
    display: flex;
    background-color: $white;
    border: 1px solid $default;
    padding: 15px 20px;
    font-size: 14px;
    line-height: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: $grey;

    span {
      width: calc(100% - 15px);
    }

    &::after {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 9px 5px 0;
      border-color: $default transparent transparent;
    }

    &:active,
    &.active {
      &::after {
        border-width: 0 5px 9px;
        border-color: transparent transparent $default;
      }
    }
  }

  .select-options {
    display: none;
    background-color: $white;
    border-left: 1px solid $default;
    border-right: 1px solid $default;
    border-bottom: 1px solid $default;

    li {
      @include transition(0.3s);
      padding: 14px 30px;
      border-bottom: 1px solid $light-grey;
      font-size: 15px;
      color: $light-grey;

      &:hover,
      &.active {
        color: $default;
      }

      &.disabled {
        display: none;
      }
    }
  }

  @include mq('desktop') {
    .select-options {
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      z-index: 999;
    }

    .select {
      max-width: 180px;
    }

    .select-styled {
      span {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
}

// Image Container
.img-container {
  height: 100px;

  figure {
    margin: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

// Slick Slider
.slick-slider {
  width: 100%;
  padding: 0;
  margin-bottom: 0;

  .slick-list {
    height: auto;
  }

  .slick-dots {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    height: 95px;

    li {
      padding-top: 30px;
      align-items: center;
      height: 100%;

      button {
        @include rounded(50%);
        border: 0;
        background-color: $light-grey;
        font-size: 0;
        line-height: 0;
        width: 14px;
        height: 14px;
      }

      &.slick-active {
        button {
          background-color: $green;
        }
      }
    }
  }

  .slick-arrow {
    position: absolute;
    top: 50%;
    color: $white;
    margin-top: -13px;
    left: 17px;
    z-index: 10;

    &::before {
      font-size: 27px;
    }

    &.slick-next {
      left: auto;
      right: 17px;
    }
  }

  @include mq('tablet') {
    .slick-dots {
      justify-content: center;
    }

    li {
      margin-right: 30px;
      margin-left: 30px;
    }
  }
}

.b-form {
  label {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 5px;
  }

  .f-row {
    margin-bottom: 22px;
  }

  .upload-btn-wrapper {
    @include box-shadow(2px, 4px, 9px, $shadow-20);
    display: inline-block;
    position: relative;
    overflow: hidden;
    background-color: $file;
  }

  .btn-upload {
    color: $default;
    padding: 18px 12px;
    font-size: 14px;
    line-height: 20px;
    border: 0;
    background-color: transparent;

    i {
      margin-right: 10px;

      &::before {
        font-size: 15px;
        line-height: 15px;
      }
    }
  }

  input {
    &[type='text'],
    &[type='tel'],
    &[type='email'] {
      height: 32px;
      line-height: 32px;
    }

    &[type='file'] {
      font-size: 100px;
      position: absolute;
      z-index: 2000;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
  }

  textarea {
    width: 100%;
    height: 130px;
    line-height: 23px;
  }

  .two-cols {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    > * {
      width: calc((100% - 20px) / 2);
      min-width: 0;
    }

    &.is-freestyle {
      > * {
        width: auto;
      }

      .field-label {
        line-height: 0;
      }

      label {
        margin-bottom: 0;
      }
    }
  }

  .f-buttons {
    .desciption {
      @include ff('angia-campton-extralight');
      color: $placeholder;
      margin-bottom: 34px;
    }

    .btn {
      padding: 20px;
      width: 100%;
    }
  }

  @include mq('tablet') {
    label {
      font-size: 16px;
      line-height: 23px;
    }

    .btn-upload {
      padding: 18px;
    }

    .f-row {
      margin-bottom: 32px;
    }

    .two-cols {
      > * {
        width: calc((100% - 40px) / 2);
        min-width: 0;
      }
    }

    .two-cols {
      &.is-freestyle {
        justify-content: flex-start;

        > *:first-child {
          width: calc((100% - 40px) / 2);
          margin-right: 40px;
        }
      }
    }

    .f-buttons {
      .btn {
        display: block;
        margin: 0 auto;
        padding: 24px 20px;
        width: auto;
        min-width: 300px;
      }
    }
  }

  @include mq('desktop') {
    .btn-upload {
      padding: 18px 20px;
      font-size: 16px;
      line-height: 23px;

      i {
        margin-right: 30px;

        &::before {
          font-size: 20px;
          line-height: 20px;
        }
      }
    }

    .two-cols {
      > * {
        width: calc((100% - 80px) / 2);
      }

      &.is-freestyle {
        > *:first-child {
          width: calc((100% - 80px) / 2);
          margin-right: 80px;
        }
      }
    }
  }
}
