.s-footer {
  background: $default;

  .b-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .b-head {
      color: $white;
      margin-bottom: 0;
    }

    .menu {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      li {
        margin-left: 20px;
      }
    }
  }
}
