.s-header {
  @include box-shadow(0, 2px, 4px, $black-shadow);
  background: $white;
  padding-top: 32px;
  padding-bottom: 32px;

  .b-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .menu {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      li {
        margin-left: 20px;
      }
    }
  }
}
