.s-intro {
  p {
    font-size: 16px;
  }

  @include mq('tablet') {
    p {
      font-size: 18px;
    }
  }

  @include mq('desktop') {
    p {
      font-family: 'angia-campton-light';
      font-size: 20px;
    }
  }
}
