{% macro init(menu, activeKey) %}
<section class="s-section s-footer">
  <div class="b-footer b-container">
    <div class="b-head">
      <p>This is footer</p>
    </div>
    <div class="b-body">
      <ul class="menu is-footer">
        {% for item in menu%}
        <li>
          <a
            href="{{ item.href }}"
            class="{% if activeKey === item.key %} active {% endif %}"
            >{{ item.label }}</a
          >
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
{% endmacro %}
