{% macro init(menu, activeKey) %}
<section class="s-section s-header is-open">
  <div class="b-container">
    <div class="b-logo">
      {% include 'components/logo.html' %}
    </div>
    <div class="b-menu">
      <ul class="menu">
        {% for item in menu %}
        <li>
          <a
            href="{{ item.href }}"
            class="{% if activeKey === item.key %} active {% endif %}"
            >{{ item.label }}</a
          >
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
{% endmacro %}
