<section class="s-section s-intro">
  <div class="b-container">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia recusandae
      similique, officia error animi mollitia. Dolore atque, ipsum dolorum
      facilis nemo iste ad saepe natus? Laudantium est incidunt odit deserunt.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia recusandae
      similique, officia error animi mollitia. Dolore atque, ipsum dolorum
      facilis nemo iste ad saepe natus? Laudantium est incidunt odit deserunt.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia recusandae
      similique, officia error animi mollitia. Dolore atque, ipsum dolorum
      facilis nemo iste ad saepe natus? Laudantium est incidunt odit deserunt.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia recusandae
      similique, officia error animi mollitia. Dolore atque, ipsum dolorum
      facilis nemo iste ad saepe natus? Laudantium est incidunt odit deserunt.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia recusandae
      similique, officia error animi mollitia. Dolore atque, ipsum dolorum
      facilis nemo iste ad saepe natus? Laudantium est incidunt odit deserunt.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia recusandae
      similique, officia error animi mollitia. Dolore atque, ipsum dolorum
      facilis nemo iste ad saepe natus? Laudantium est incidunt odit deserunt.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia recusandae
      similique, officia error animi mollitia. Dolore atque, ipsum dolorum
      facilis nemo iste ad saepe natus? Laudantium est incidunt odit deserunt.
    </p>
  </div>
</section>
